section {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    scroll-snap-align: start;
    display: block;
}

.hero {
    background-image: url(../images/22217965_m.jpg);
    text-align: center;
    padding-top: 40vh;
}

.container {
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow: auto;
}

.wrapper {
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 900px;
    width: 100%;
}


.menu {
    background-image: url(../images/AdobeStock_300553125.jpeg);
    display: flex;
    align-items: center;
}
.menu-list tr {
    font-size: 1.125rem;
    margin-bottom: .5rem;
    line-height: 1.7;
}
.menu-list th {
     font-weight: normal;
}
.menu-list td {
    padding-left: 1rem;
}

th {
    text-align: left;
    display: table-cell;
}
td,th {
    vertical-align: top;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    display: table;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
}

.contact {
    background-image: url(../images/cafe.jpg);
    text-align: center;
    padding-top: 8vh;
}

p {
    line-height: 1.7;
    font-size: 1.125rem;
    margin: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    display: block;
    box-sizing: border-box;
}

body {
    color: #555;
    font-family: sans-serif;
    margin: 0;
    display: block;
    box-sizing: border-box;
}

.title {
    font-family: Playfair Display;
    font-size: 7rem;
    margin-bottom: 2rem;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
    font-weight: inherit;
    line-height: inherit;
}

h2 {
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    box-sizing: border-box;
}

.btn {
    background: #555;
    font-size: 1.5rem;
    color: #fff;
    padding: 1rem 3.5rem;
    border-radius: 6px;
    margin: 2rem 0 2.25rem;
    display: inline-block;
    box-sizing: border-box
}
a {
    text-decoration: none;
}




/*モバイル版*/
@media (max-width: 700px) {
 .title {
    font-size: 4rem;
 }
｝
